@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  font-family: "Open Sans", sans-serif;
}

#content {
  margin-left: 2rem;
  margin-right: 2rem;
}

body {
  background: rgb(244, 244, 246);
}

#navbar {
  padding: 0 0.75rem;
  width: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-top {
  background-color: rgb(244, 244, 246);
  width: 100%;
  display: block;
  z-index: 999;
}
#navbar-top a {
  color: rgb(36, 36, 44);
}
#navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
#navbar ul #avatar {
  padding: 0;
  background: rgb(19, 48, 81);
  border-radius: 5rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
}
#navbar ul #avatar:hover {
  background-color: rgb(56, 151, 254) !important;
}
#navbar ul li {
  padding: 0.75rem;
  margin: 0 0.3rem;
}
#navbar ul li:hover {
  background-color: rgb(56, 151, 254);
  border-radius: 4px;
}
#navbar ul li:hover a {
  color: rgb(244, 244, 246);
}

#home {
  height: 100vh;
  background-image: linear-gradient(180deg, #f4f4f6 50%, rgba(19, 48, 81, 0) 50%), url("../images/code-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#home #profile {
  display: flex;
  justify-content: space-evenly;
}
#home #profile .profile-img-box {
  padding: 1rem;
  background: rgb(242, 244, 245);
  box-shadow: 0 0 10px 0.1px #777;
  outline: 1px solid rgb(56, 151, 254);
  outline-offset: 0.5rem;
}
#home #profile .profile-img-box img {
  max-width: 300px;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
#home #profile .name {
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  display: block;
  flex-direction: column;
  max-width: 600px;
}
#home #profile .name h2 {
  text-align: start;
}
#home #profile .name .profile-role {
  margin-top: 0;
  opacity: 0.5;
  font-size: 0.9rem;
  font-style: normal;
}
#home #profile .name p {
  text-align: left;
  margin-top: 0.5rem;
  text-overflow: clip;
}
#home #profile .name .links {
  width: 32%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
#home #profile .name .links div a {
  background: rgb(56, 151, 254);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
#home #profile .name .freelance-links {
  margin: 2rem 0;
}
#home #profile .name .freelance-links .second-part {
  color: rgb(244, 244, 246);
}
#home #profile .name .freelance-links .links {
  margin: 2rem 0;
  width: 50%;
  display: block;
}
#home #profile .name .freelance-links .links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
#home #profile .name .freelance-links .links ul li {
  width: 3rem;
  height: 3rem;
}
#home #profile .name .freelance-links .links ul li button {
  box-sizing: border-box;
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home #profile .name .freelance-links .links ul li:nth-child(1) button {
  background: url("../images/bionluk-2.png");
  background-size: cover;
}
#home #profile .name .freelance-links .links ul li:nth-child(2) button {
  background: url("../images/fiverr-2.png");
  background-size: cover;
}
#home #profile .name .freelance-links .links ul li:nth-child(3) button {
  background: url("../images/upwork-2.png");
  background-size: cover;
}
#home #profile .name .freelance-links .links ul li:nth-child(4) button {
  background: url("../images/github-2.png");
  background-size: cover;
}
#home #profile .name .freelance-links .links ul li:nth-child(5) button {
  background: url("../images/linkedin-2.png");
  background-size: cover;
}

/* #contact-me{
    width: 200px;
    height: 200px;
    background-color: #000;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#contact-me:hover{
    opacity: 1;
    background-color: #336ea2;
} */
#contact-me {
  display: none;
}
#contact-me .mail-me {
  position: fixed;
  bottom: 35px;
  right: 0px;
  width: 4rem;
  height: 4rem;
  background-color: #fee;
  border-radius: 50% 0 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  z-index: 0;
}
#contact-me .mail-me:hover {
  z-index: 2;
  transition: top 0.9s;
  opacity: 1;
  background-color: #336ea2;
}
#contact-me .chat-me {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 0px;
  right: 35px;
  background-color: #fee;
  border-radius: 50% 50% 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  z-index: 1;
}
#contact-me .chat-me:hover {
  transition: top 9s;
  /* bottom: 50px; */
  opacity: 1;
  background-color: #336ea2;
  cursor: pointer;
}

#education {
  min-height: 125vh;
  background: linear-gradient(to bottom, rgb(244, 244, 246) 50%, rgb(19, 48, 81) 50%);
  color: rgb(244, 244, 246);
}
#education .landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 48, 81);
}
#education .landing-section .landing-leftside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#education .landing-section .landing-leftside i {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#education .landing-section .landing-rightside {
  width: 50%;
  display: flex;
  justify-content: center;
}
#education .landing-section .landing-rightside h3 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}
#education .school-header {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(244, 244, 246);
}
#education .school-general {
  margin: 0 6.5rem;
  display: flex;
  align-items: center;
}
#education .school-general .school-rightside {
  display: flex;
  flex-direction: column;
}
#education .items {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
#education .items .item {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5rem 2rem;
}
#education .items .item .date {
  width: 8rem;
  display: flex;
  text-overflow: clip;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 25px 30px;
  border-right: 2px solid rgb(244, 244, 246);
}
#education .items .item .school {
  width: 12rem;
  padding: 25px 30px;
}
#education .items .item .school h3 {
  font-weight: 100;
}
#education .items .item:nth-child(2) {
  background: rgb(244, 244, 246);
  color: rgb(19, 48, 81);
}
#education .items .item:nth-child(2) .date {
  border-right: 2px solid rgb(19, 48, 81);
}

#certificate {
  min-height: 125vh;
  color: rgb(244, 244, 246);
  margin-top: 0.1rem;
}
#certificate .landing-section {
  height: 62.5vh;
  background: rgb(244, 244, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 48, 81);
}
#certificate .landing-section .landing-leftside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#certificate .landing-section .landing-leftside i {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#certificate .landing-section .landing-rightside {
  width: 50%;
  display: flex;
  justify-content: center;
}
#certificate .landing-section .landing-rightside h3 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}
#certificate .certificates-header {
  display: block;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(244, 244, 246);
}
#certificate .certificate-general {
  background: rgb(19, 48, 81);
  padding: 2rem 6.5rem;
}
#certificate .certificate-general .certificate-info {
  color: rgb(244, 244, 246);
  margin-bottom: 1rem;
}
#certificate .items ol {
  display: flex;
  flex-wrap: wrap;
}
#certificate .items ol li {
  margin: 0.5rem 1rem;
  padding: 1rem;
  color: rgb(244, 244, 246);
  width: 45%;
}
#certificate .items ol li .certificate-block {
  display: flex;
}
#certificate .items ol li .certificate-block .certificate-img img {
  width: 10rem;
  border-radius: 0.2rem;
}
#certificate .items ol li .certificate-block .about-certificate {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
}
#certificate .items ol li .certificate-block .about-certificate a {
  font-size: 1.2rem;
}
#certificate .items ol li .certificate-block .about-certificate p {
  font-size: 0.9rem;
  text-align: end;
  opacity: 0.6;
}
#certificate .items ol li:hover {
  background: linear-gradient(130deg, rgb(244, 244, 246), rgb(19, 48, 81), rgb(56, 151, 254));
}

#footer {
  min-height: 250px;
  background-color: rgb(19, 48, 81);
  color: #f4f4f6;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4.5rem;
}
#footer .logo {
  margin: 3rem 0;
  font-family: "Montserrat", sans-serif;
}
#footer .logo p:nth-child(1) {
  font-size: 2rem;
  opacity: 1 !important;
}
#footer .logo p:nth-child(2) {
  text-align: right;
  font-size: 0.8rem;
}
#footer .mail-form {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  width: 65%;
}
#footer .mail-form .info p:nth-child(1) {
  font-size: 1.8rem;
}
#footer .mail-form .info p:nth-child(2) {
  width: 85%;
  opacity: 0.7;
  font-size: 1.4rem;
}
#footer .mail-form .form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
#footer .mail-form .form input {
  margin: 0.1rem;
  box-sizing: border-box;
  border: none;
  padding: 1rem;
  height: 3.5rem;
  font-family: "Montserrat", sans-serif;
}
#footer .mail-form .form input:focus {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}
#footer .mail-form .form input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
#footer .mail-form .form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
#footer .mail-form .form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
#footer .mail-form .form .download-button {
  font-size: 1.12rem;
  width: 130px;
  background: rgb(56, 151, 254);
  font-family: "Montserrat", sans-serif;
  color: rgb(244, 244, 246);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff no-repeat center;
  z-index: 999;
}
#loader img {
  height: 120px;
}

#work {
  background-color: rgb(19, 48, 81);
  color: #fff;
}
#work .landing-section {
  height: 62.5vh;
  background: rgb(244, 244, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 48, 81);
}
#work .landing-section .landing-leftside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#work .landing-section .landing-leftside i {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#work .landing-section .landing-rightside {
  width: 50%;
  display: flex;
  justify-content: center;
}
#work .landing-section .landing-rightside h3 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}
#work .work-general .work-info {
  padding: 2rem 6.5rem;
}
#work .work-general .work-info .works-header {
  display: block;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(244, 244, 246);
}
#work .items {
  display: flex;
  flex-wrap: wrap;
}
#work .items .category-select {
  width: 100%;
  padding: 1rem;
}
#work .items .category-select ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
#work .items .category-select ul li {
  margin: 0 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  outline: 1px outset rgb(56, 151, 254);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
#work .items .category-select ul li:hover {
  background: rgb(244, 244, 246);
  color: rgb(36, 36, 44);
  cursor: pointer;
}
#work .items a {
  margin: 0 2rem;
  padding: 0 2.5rem;
  width: 75%;
}
#work .items a:hover {
  background-color: rgb(244, 244, 246);
}
#work .items a:hover .item .about-work {
  color: rgb(36, 36, 44);
}
#work .items a .item {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
}
#work .items a .item .work-img-box {
  position: relative;
}
#work .items a .item .work-img-box .work-img {
  padding: 0.2rem;
  width: 375px;
  height: 200px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#work .items a .item .work-img-box i .at-work {
  border-radius: 100%;
  width: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
}
#work .items a .item .work-img-box p {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: red;
  padding: 0.1rem;
  border-radius: 0.2rem;
  font-weight: 100;
  font-size: 0.6rem;
}
#work .items a .item .about-work {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
}
#work .items a .item .about-work h3 {
  font-weight: 200;
  font-size: 1.5rem;
}
#work .items a .item .about-work p {
  margin-top: 0.5rem;
  opacity: 0.6;
}
#work .items a:nth-child(even) {
  border-right: 1px solid rgb(244, 244, 246);
  border-bottom: 1px solid rgb(244, 244, 246);
}
#work .items a:nth-child(odd) {
  border-left: 1px solid rgb(244, 244, 246);
  border-bottom: 1px solid rgb(244, 244, 246);
  margin-left: auto;
}
#work .items a:nth-child(odd) .item {
  flex-direction: row-reverse;
}

#skill {
  background: rgb(19, 48, 81);
  padding: 0 6.5rem 3rem;
}
#skill .skill-landing {
  color: rgb(244, 244, 246);
  display: flex;
}
#skill .skill-landing .landing-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#skill .skill-landing .landing-left p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: start;
}
#skill .skill-landing .landing-left p:nth-child(2) {
  margin-top: 1rem;
  opacity: 0.6;
  text-align: start;
}
#skill .skill-landing .landing-right {
  padding: 1rem;
  width: 50%;
}
#skill .skill-landing .landing-right i {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill .skill-landing .landing-right i img {
  width: 13rem;
}
#skill .items {
  padding: 1rem 0;
}
#skill .items .item ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}
#skill .items .item ul li {
  padding: 0.3rem 0.2rem;
  text-align: center;
}
#skill .items .item ul li #progress-bar {
  background-color: #ccc;
  overflow: hidden;
  height: 3.5rem;
  border-radius: 0.1rem;
  text-align: center;
}
#skill .items .item ul li #progress-bar #progress {
  height: 100%;
  background: rgb(56, 151, 254);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
#skill .items .item ul li #progress-bar #progress span {
  font-family: "Poppins", sans-serif;
  color: rgb(244, 244, 246);
}
#skill .items .item ul li #progress-bar #progress p {
  font-family: "Poppins", sans-serif;
  color: rgb(244, 244, 246);
  font-size: 0.8rem;
  right: 10px;
  margin-left: auto;
}
@-webkit-keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#comment {
  padding: 3rem 6.5rem;
  background: rgb(244, 244, 246);
}
#comment .comment-landing {
  display: flex;
}
#comment .comment-landing .landing-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment .comment-landing .landing-left i img {
  width: 13rem;
}
#comment .comment-landing .landing-right {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#comment .comment-landing .landing-right p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: left;
}
#comment .comment-landing .landing-right p:nth-child(2) {
  margin-top: 1rem;
  opacity: 0.6;
  text-align: left;
}
#comment .items {
  margin: 4rem 0;
  font-family: "Montserrat", sans-serif;
}
#comment .items .item {
  box-shadow: 0 0 10px rgb(36, 36, 44);
  border-radius: 0.4rem;
  padding: 1rem 2rem 1rem 0;
  margin: 1rem 0;
  display: flex;
}
#comment .items .item .c-profile-photo {
  margin: auto;
}
#comment .items .item .c-profile-photo i {
  display: flex;
  justify-content: center;
}
#comment .items .item .c-profile-photo i img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5rem;
  outline: 2px solid #0e5;
  outline-offset: 0.2rem;
}
#comment .items .item .c-profile-photo .c-name {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
#comment .items .item .c-rate-comment {
  width: 80%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
#comment .items .item .c-rate-comment .c-given-rate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
  border-bottom: 0.1px outset rgba(13, 30, 51, 0.2);
}
#comment .items .item .c-rate-comment .c-given-rate p {
  margin-left: 0.5rem;
}
#comment .items .item .c-rate-comment .c-comment {
  padding: 1rem 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#comment .items .item .c-rate-comment .c-comment p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

#work-together {
  margin-top: 1rem;
  border-bottom: 1px outset rgba(244, 244, 246, 0.4);
  padding: 1rem 6.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 48, 81);
}
#work-together .items {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  color: rgb(244, 244, 246);
}
#work-together .items .item:nth-child(1) {
  opacity: 0.6;
}
#work-together .items .item:nth-child(2) p {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
#work-together .items .item:nth-child(2) p span {
  display: flex;
  align-items: center;
}
#work-together .items .item:nth-child(2) p span img {
  margin-left: 1rem;
  width: 3.5rem;
}
#work-together .items:hover {
  border-bottom: 1px solid #f4f4f6;
}
#work-together .items:hover .item:nth-child(1) {
  opacity: 1;
}

#chat-box {
  position: fixed;
  bottom: -400px;
  right: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: #aaa;
  transition: bottom 0.8s;
  border-radius: 0.5rem;
  border: 1.5px outset #000;
}
#chat-box .header {
  display: flex;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 1rem;
  z-index: 1;
  width: 100%;
  padding: 1rem 0.4rem;
  background-color: #38f;
  color: #fff;
}
#chat-box .message-box {
  background-color: #fff;
  width: 100%;
  height: 50vh;
  bottom: 0px;
  overflow: auto;
}
#chat-box .message-box .message-bubble {
  list-style-type: none;
  display: flex;
  grid-template-columns: auto;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}
#chat-box .message-box .message-bubble .odd {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  align-self: flex-start;
  width: 10rem;
  border-radius: 1rem 1rem 1rem 0.1rem;
  background-color: #0e5;
  color: #fff;
  font-size: small;
  padding: 1rem;
}
#chat-box .message-box .message-bubble .even {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  align-self: flex-end;
  padding: 1rem;
  width: 10rem;
  border-radius: 1rem 1rem 0.1rem 1rem;
  background-color: #336ea2;
  color: #fff;
  font-size: small;
}
#chat-box .message-entry {
  display: flex;
}
#chat-box .message-entry input {
  font-size: 0.9rem;
  padding: 1.2rem 2rem;
  border: none;
  border-top: 1px outset #bbb;
}
#chat-box .message-entry input:focus {
  outline: none;
}
#chat-box .message-entry button {
  width: 100%;
  border: none;
  padding: 1rem 1rem;
  align-items: center;
  border-top: 1px outset #bbb;
}
#chat-box .message-entry button:hover {
  background-color: #0e5;
}
#chat-box .message-entry button img {
  width: 1.3rem;
}

#posting {
  margin-top: 1rem;
  padding: 0.1rem;
  background-color: #062e51;
  color: #fff;
}
#posting .header {
  margin: 1rem;
  padding: 1.5rem;
  border-top: 1px outset #fff;
  border-bottom: 1px outset #fff;
}
#posting .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#posting .items .item {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem;
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border: 1px outset #fff;
  color: #000;
}
#posting .items .item:hover .platform-1,
#posting .items .item:hover .platform-2 {
  display: block;
}
#posting .items .item h3 {
  font-size: 1rem;
  padding: 1rem;
  border-top: 1px outset #000;
}
#posting .items .item p {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.6;
}
#posting .items .item .posting-img {
  width: 18rem;
  height: 10rem;
  position: relative;
}
#posting .items .item .posting-main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
#posting .items .item i .platform {
  width: 50%;
  height: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  opacity: 0.5;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes example {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes example {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
#posting .items .item i .platform-1 {
  border-radius: 0.5rem 0 0 0.5rem;
  left: 0;
}
#posting .items .item i .platform-1:hover {
  opacity: 1;
}
#posting .items .item i .platform-2 {
  right: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
#posting .items .item i .platform-2:hover {
  opacity: 1;
}
#posting .items .note {
  width: 100%;
  font-size: 0.7rem;
  padding: 1rem;
  border-top: 0.5px outset #fff;
  text-align: center;
  letter-spacing: 0.2rem;
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */